*
{
    margin: 0;
    padding: 0;
}

html 
{
    
    background: #0c0111
}

/* html,
body
{
    overflow: hidden;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    /* text-transform: uppercase; */
    font-size: 7vmin;
    padding-left: 6%;
    padding-right: 6%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

#github-button {
    position: fixed;
    top: 20px; 
    right: 20px; 
    z-index: 100; 
    background-color: transparent;
    color: white;
    border: 2px solid white; 
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#github-button:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}